PORT=8080
HOST=localhost
DATABASE_MONGO_URL=mongodb+srv://<username>:<password>@cluster0.1ft6ibj.mongodb.net/<database>?appName=<appname>
SALT_ROUNDS=10
PASSWORD_USER_DEFAULT=

# access token
JWT_ACCESS_TOKEN_SECRET=
JWT_ACCESS_EXPIRE=2h
# refresh token
JWT_REFRESH_TOKEN_SECRET=
JWT_REFRESH_EXPIRE=1d
# bắt buộc thời gian session phải nhỏ hơn hoặc bằng thời gian của refresh token để tránh việc session bị vô hiệu hóa trước khi refresh token hết hạn
SESSION_EXPIRES_IN=1d 
